<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zernerda бот для пробива с огромным функционалом!</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="keywords" content="zernerda, Зернерда, пробив номера, пробить номер, пробить номер телефона, боты для пробива, пробить гос номер, пробить номер тг, пробить номер телеграм, пробивы номеров, пробить номера машины, пробить номер телеграмм бот, пробить номер телефона тг, пробить геолокацию по номеру, номера телефонов для пробива, пробить номер телефона и узнать владельца, пробить номер по геолокации, пробить номер по базе, можно ли пробить номер" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="content-language" content="ru"/>
  <link rel="canonical" href="https://zernerda.pro/"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
</head>
